CT_CONFIG_VERSION="4"
CT_ARCH_SH=y
CT_ARCH_LE_BE=y
CT_STATIC_TOOLCHAIN=y
CT_BINUTILS_PLUGINS=y
CT_LIBC_NEWLIB_IO_LL=y
CT_LIBC_NEWLIB_IO_FLOAT=y
CT_LIBC_NEWLIB_IO_LDBL=y
CT_LIBC_NEWLIB_IO_POS_ARGS=y
CT_LIBC_NEWLIB_DISABLE_SUPPLIED_SYSCALLS=y
CT_LIBC_NEWLIB_EXTRA_SECTIONS=y
CT_CC_LANG_CXX=y
CT_DEBUG_GDB=y
CT_COMP_LIBS_NEWLIB_NANO=y
CT_LIBC_NEWLIB_NANO_DISABLE_SUPPLIED_SYSCALLS=y
CT_LIBC_NEWLIB_NANO_EXTRA_SECTIONS=y
